.game-detail-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  position: relative;
}

.game-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.game-info img {
  max-width: 150px;
  height: auto;
  object-fit: cover;
}

.game-info .game-details {
  display: flex;
  flex-direction: column;
}

.game-description {
  margin-top: 20px;
}

.rating-comment-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.comments-section-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.comments-section-container h3 {
  margin-bottom: 15px;
  font-size: 1.5rem;
  color: #333;
}

.comments-section-form {
  display: flex;
  flex-direction: column;
}

.comments-section-label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #555;
}

.comment-form {
  margin-bottom: 21px;
}

.comment-textarea-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.comment-textarea {
  width: 100%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin-right: 10px; /* Espacio entre el área de texto y el botón */
}

.submit-comment-button {
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  background-color: #5a8d5f;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 1200px;
}

.submit-comment-button:hover {
  background-color: #348b22;
}

.cancel-comment-button {
  padding: 10px 13px;
  border: none;
  border-radius: 4px;
  background-color: #c46060;
  color: #fff;
  font-size: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  margin-top: 5px;
}

.cancel-comment-button:hover {
  background-color: #e44343;
}

.rating-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  top: 20px;
  right: 20px;
}

.star-rating {
  display: flex;
  font-size: 2rem;
  cursor: pointer;
}

.star-rating input {
  display: none;
}

.star-rating label {
  color: #ccc;
  transition: color 0.2s;
}

.star-rating input:checked ~ label {
  color: #ff0;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ff0;
}

.current-rating {
  margin-top: 10px;
  text-align: right;
}

.game-comments-title {
  margin-top: 20px;
}

.game-comments {
  margin-top: 0px;
}

.comment {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd; /* Línea fina entre comentarios */
}

.comment:last-child {
  border-bottom: none; /* Quitar la línea en el último comentario */
}

.back-button {
  width: 100px;
  margin-bottom: 20px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #767777;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  display: inline;
  text-align: center;
}

.back-button:hover {
  background-color: #0056b3;
  border-color: #bbb;
}

.delete-comment-button {
  background: transparent; /* Fondo transparente */
  border: 0.6px solid #e68d8d; /* Borde rojo */
  padding: 1px 1px; /* Espaciado */
  cursor: pointer; /* Cursor pointer */
  border-radius: 4px; /* Bordes redondeados */
  font-size: 16px; /* Tamaño del texto */
  transition: all 0.3s ease; /* Transición suave */
  margin-left: 10px;
}

/* Estilo cuando se pasa el ratón sobre el botón */
.delete-comment-button:hover {
  background: transparent; /* Fondo rojo al pasar el ratón */
  color: white; /* Color del texto blanco */
  border: 1.9px solid #ff0000;
}

.delete-comment-button img {
  width: 15px;
  height: 15px;
}

.add-to-cart-button {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  margin-top: 10px;
  background-color: #767777;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #f89756;
}

/* Desactiva el efecto :hover cuando el juego está en el carrito */
.added-to-cart-button {
  background-color: #555;
  cursor: not-allowed; /* Cambia el cursor para indicar que el botón está deshabilitado */
}

.added-to-cart-button:hover {
  background-color: #555; /* Sin efecto al pasar el ratón */
}

/* Iconos */
.add-to-cart-button .icon {
  margin-left: 0px;
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.added-to-cart-button .icon-check {
  display: inline;
  margin-right: 5px; /* Muestra el icono de check cuando el juego está añadido */
}

.added-to-cart-button .icon {
  display: none; /* Oculta el icono del carrito cuando el juego ya está añadido */
}

.game-opinions-title {
  margin-top: 5px;
  margin-bottom: 10px;
}

.comment-header {
  font-size: 0.75rem; /* Ajusta el tamaño según tus necesidades */
  color: #555; /* Puedes cambiar el color si lo deseas */
  margin-bottom: 5px;
}

.comment-header strong {
  font-size: 0.85rem; /* Ajusta el tamaño según tus necesidades */
  color: #333; /* Puedes cambiar el color si lo deseas */
}

.comment-date {
  font-size: 0.75rem; /* Asegúrate de aplicar el mismo tamaño que al nombre */
  color: #777; /* Puedes ajustar el color */
  margin-left: 5px;
}
