.user-loged-page-container {
  position: relative;
  padding: 20px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-button,
.cart-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.profile-button img,
.cart-button img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.homepage-titulo {
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #ffffff, #f70358);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0px;
  border-radius: 8px;
}

.user-category-filter-custom #category-select {
  margin-top: 10px;
  padding: 0px 12px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  background-color: #ffffff;
  color: #495057;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.user-category-filter-custom #category-select:focus {
  outline: none;
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.25);
}

.user-filter-container {
  margin-top: 8px;
  margin-bottom: 10px;
  display: flex;
  gap: 20px;
}

.game-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}
